html,
body {
    height: 93%;
    background-color:rgb(0, 48, 73);
}

.navbar{
    font-size: 25px; 
    background-color:rgb(0, 48, 73)

}
.navbar_logo{
    width: 12%;
    height: 12%;
}
.navbar_h1{
    color:#a3ffb6;;
}
#mynetwork {
    width: 50%;
    height: 100%;
    border: 1px solid lightgray;
    background-color: beige;
    
}

#container2 {
    width: 50%;
    height: 100%;
    border: 1px solid lightgray;
    background-color:beige;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mynetwork2 {
    width: 100%;
    height: 100%;
}

#container {
    width: 100%;
    height: 70%;
    background-color: white;
    display: flex;
    margin: 0 auto;
}

#generate-graph {
    margin: auto;
    display: block;
}

#solve {
    margin: auto;
    display: block;
}